In [7]:
import pandas as pd

steps = [0, 5, 2, 3, 4, 1]
accts = ['a', 'a', 'b', 'b', 'b', 'a']
amts = [10, 10, 10, -10, 10, -10]
df = pd.DataFrame({'step': steps, 'acct': accts, 'amt': amts})

df = df.sort_values(by=['step'])
df['bal'] = df.groupby('acct')['amt'].cumsum()

df[df['acct']=='a']

   step acct  amt  bal
0     0    a   10   10
5     1    a  -10    0
1     5    a   10   10