In [99]:
## Load dataset with and without SAR
from importlib import reload
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import data

import SyntheticDatacheck
reload(SyntheticDatacheck)

In [100]:
importance_train,importance_test=SyntheticDatacheck.build_importance('10K_accts_MID5')
len(SyntheticDatacheck.get_sar_accounts(importance_train))

434

In [ ]:
importance_train

,account,sum,mean,median,std,max,min,in_sum,out_sum,in_mean,...,count_days_in_bank,count_phone_changes,sum_spending,mean_spending,median_spending,std_spending,max_spending,min_spending,count_spending,is_sar
0,4455,1.038237,1.728760,0.952355,-0.464414,-0.018123,0.029721,0.932711,0.495361,0.076852,...,1.160824,0.022365,1.873249,1.629788,1.140015,1.227825,2.173416,0.645966,-0.760048,0
1,7542,0.798694,2.006038,1.377560,-2.788822,-0.018123,0.029721,0.306270,0.790053,-0.463396,...,1.781239,0.022365,0.383421,0.298346,-0.508303,0.727725,-0.078030,-0.031708,-0.027542,0
2,6651,-0.022606,0.044574,-0.308790,-0.705884,0.836817,0.029721,-0.340528,0.307672,-1.122097,...,0.806301,0.022365,-1.015484,-3.015466,0.064734,-3.640406,-0.078030,-0.031708,2.169975,0
3,9188,0.159886,0.837193,0.423331,0.582481,1.705011,-0.071518,0.213899,0.006407,-0.591960,...,0.894931,0.022365,-0.280689,0.000369,1.223605,-0.616456,-0.078030,-0.031708,-0.320544,0
4,1744,0.725086,0.290273,0.390200,-0.272532,0.410754,0.029721,-0.156629,1.149522,-0.276553,...,0.008624,0.022365,-0.261152,0.455167,-0.140243,0.652645,-0.078030,-0.031708,-1.199551,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8826,0.541541,2.333699,1.512018,-1.771389,-0.135364,0.029721,0.160777,0.582308,-0.723112,...,3.199331,0.022365,-0.564346,0.723032,-1.137533,0.950887,-0.078030,-0.341532,-2.078558,0
9996,2603,-0.860771,-0.693368,-0.325007,-0.427354,-0.018123,0.168381,-1.294972,0.108130,-0.659596,...,-0.168638,0.022365,-0.776023,0.403243,-0.091749,0.666088,-0.078030,0.595193,-1.492554,0
9997,4166,0.514230,0.756988,0.711002,1.336860,0.470700,0.029721,0.358685,0.348058,1.156100,...,-0.523161,0.022365,-0.823929,0.264117,-0.197737,0.315650,-0.078030,-0.031708,-1.199551,0
9998,2212,-0.503032,-0.375311,-0.358487,-0.157535,0.257628,0.029721,-0.521373,-0.170919,-0.212480,...,0.185885,0.022365,0.412505,0.660401,-0.669685,0.947075,-0.078030,-1.912412,-0.906549,0
9999,4559,0.558399,0.783872,0.599866,0.347212,-0.018123,0.260836,0.891608,-0.121397,0.231763,...,0.629039,0.022365,0.374595,0.245012,0.392998,0.176149,-0.078030,0.727826,-0.027542,0

In [61]:
print(SyntheticDatacheck.get_importance(node=767,dataframe=importance_train))

                     importance
Node: 767
count_days_in_bank     2.738930
out_max                2.252665
in_median              1.923990
std                    1.909634
sum_spending           1.898899
median_spending        1.675455
in_mean                1.645437
mean_spending          1.353302
median                 1.117332
out_std                1.062507
in_std                 0.997633
std_spending           0.970816
mean                   0.558465
count_out              0.542810
out_mean               0.396829
in_max                 0.364505
max                    0.359250
count_spending         0.265460
out_min                0.252123
min                    0.252123
out_sum                0.232267
in_sum                 0.188169
min_spending           0.166414
max_spending           0.078030
count_in               0.071466
sum                    0.032932
out_median             0.023024
count_phone_changes    0.022365
in_min                 0.019776

In [3]:
# orgdata_train = data.AmlsimDataset(node_file='data/10K_accts_MID5/bank/train/nodes.csv', edge_file='data/100K_accts_MID5/bank/train/edges.csv', node_features=True, node_labels=True).get_data()
# newdata_train = data.AmlsimDataset(node_file='data/10K_accts_MID5_withoutSAR/bank/train/nodes.csv', edge_file='data/100K_accts_MID5_withoutSAR/bank/train/edges.csv', node_features=True, node_labels=True).get_data()

# orgdata_test = data.AmlsimDataset(node_file='data/10K_accts_MID5/bank/test/nodes.csv', edge_file='data/100K_accts_MID5/bank/test/edges.csv', node_features=True, node_labels=True).get_data()
# newdata_test = data.AmlsimDataset(node_file='data/10K_accts_MID5_withoutSAR/bank/test/nodes.csv', edge_file='data/100K_accts_MID5_withoutSAR/bank/test/edges.csv', node_features=True, node_labels=True).get_data()

# # mean_train=orgdata_train.x.mean(axis=0)
# # std_train=orgdata_train.x.std(axis=0)

# # mean_test=orgdata_test.x.mean(axis=0)
# # std_test=orgdata_test.x.std(axis=0)

In [3]:


orgdata_train=pd.read_csv('data/10K_accts_MID5/bank/train/nodes.csv')
orgdata_test=pd.read_csv('data/10K_accts_MID5/bank/test/nodes.csv')

newdata_train=pd.read_csv('data/10K_accts_MID5_withoutSAR/bank/train/nodes.csv')
newdata_test=pd.read_csv('data/10K_accts_MID5_withoutSAR/bank/test/nodes.csv')


df=pd.DataFrame(orgdata_train)
print('Length of datasets',len(orgdata_train),len(newdata_train))
df=df.merge(newdata_train, on='account')


orgdata_train=pd.DataFrame(orgdata_train)
newdata_train=pd.DataFrame(newdata_train)


# Sample dataframes
df1 = orgdata_train
df2 = newdata_train

Length of datasets 10000 10000

In [4]:
#check order of accounts are same in df1 and df2
print('Order of accounts are same in df1 and df2:',all(df1['account']==df2['account']))
# print('Sum is the same for df1,df2',all(df1['sum']==df2['account']))

Order of accounts are same in df1 and df2: True

In [68]:

# Merge the dataframes on 'account'
diff = pd.merge(df1, df2, on='account', suffixes=('_1', '_2'))
# Take column names from orgdata_train
cols = orgdata_train.columns
# Remove the first column from cols ('account')
cols = cols[2:]
# print(cols)
# Perform subtraction on other columns

for col in cols:
    diff[col] = diff[col+'_1'] - diff[col+'_2']

#remove columns ending with _1 and _2
diff = diff.drop(diff.columns[diff.columns.str.endswith('_1')], axis=1)
diff = diff.drop(diff.columns[diff.columns.str.endswith('_2')], axis=1)

print('diff',diff)
#Calculate for all except account
diff_cop=diff.drop(['account','is_sar'], axis=1)
print('diff cop',diff_cop)
diff_mean=diff_cop.mean(axis=0) 
diff_std=diff_cop.std(axis=0)
diff_mean

#Calculate score by subtracting mean and divide by std but exclude account column
diff_score=(diff_cop-diff_mean)/diff_std
diff_score['account']=diff['account']

#Reorder put account first
cols = diff_score.columns.tolist()
cols = cols[-1:] + cols[:-1]
diff_score=diff_score[cols]
diff_score['is_sar']=diff['is_sar']

diff_score

diff       account  sum  mean  median  std  max  min  in_sum  out_sum  in_mean  \
0        4455  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
1        7542  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
2        6651  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
3        9188  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
4        1744  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
...       ...  ...   ...     ...  ...  ...  ...     ...      ...      ...
9995     8826  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
9996     2603  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
9997     4166  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
9998     2212  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0
9999     4559  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0

      ...  count_days_in_bank  count_phone_changes  sum_spending  \
0     ...                   0                    0           0.0
1     ...                   0                    0           0.0
2     ...                   0                    0           0.0
3     ...                   0                    0           0.0
4     ...                   0                    0           0.0
...   ...                 ...                  ...           ...
9995  ...                   0                    0           0.0
9996  ...                   0                    0           0.0
9997  ...                   0                    0           0.0
9998  ...                   0                    0           0.0
9999  ...                   0                    0           0.0

      mean_spending  median_spending  std_spending  max_spending  \
0               0.0              0.0           0.0           0.0
1               0.0              0.0           0.0           0.0
2               0.0              0.0           0.0           0.0
3               0.0              0.0           0.0           0.0
4               0.0              0.0           0.0           0.0
...             ...              ...           ...           ...
9995            0.0              0.0           0.0           0.0
9996            0.0              0.0           0.0           0.0
9997            0.0              0.0           0.0           0.0
9998            0.0              0.0           0.0           0.0
9999            0.0              0.0           0.0           0.0

      min_spending  count_spending  is_sar
0              0.0               0       0
1              0.0               0       0
2              0.0               0       0
3              0.0               0       0
4              0.0               0       0
...            ...             ...     ...
9995           0.0               0       0
9996           0.0               0       0
9997           0.0               0       0
9998           0.0               0       0
9999           0.0               0       0

[10000 rows x 31 columns]
diff cop       sum  mean  median  std  max  min  in_sum  out_sum  in_mean  out_mean  \
0     0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
1     0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
2     0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
3     0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
4     0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
...   ...   ...     ...  ...  ...  ...     ...      ...      ...       ...
9995  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
9996  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
9997  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
9998  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0
9999  0.0   0.0     0.0  0.0  0.0  0.0     0.0      0.0      0.0       0.0

      ...  count_out  count_days_in_bank  count_phone_changes  sum_spending  \
0     ...          0                   0                    0           0.0
1     ...          0                   0                    0           0.0
2     ...          0                   0                    0           0.0
3     ...          0                   0                    0           0.0
4     ...          0                   0                    0           0.0
...   ...        ...                 ...                  ...           ...
9995  ...          0                   0                    0           0.0
9996  ...          0                   0                    0           0.0
9997  ...          0                   0                    0           0.0
9998  ...          0                   0                    0           0.0
9999  ...          0                   0                    0           0.0

      mean_spending  median_spending  std_spending  max_spending  \
0               0.0              0.0           0.0           0.0
1               0.0              0.0           0.0           0.0
2               0.0              0.0           0.0           0.0
3               0.0              0.0           0.0           0.0
4               0.0              0.0           0.0           0.0
...             ...              ...           ...           ...
9995            0.0              0.0           0.0           0.0
9996            0.0              0.0           0.0           0.0
9997            0.0              0.0           0.0           0.0
9998            0.0              0.0           0.0           0.0
9999            0.0              0.0           0.0           0.0

      min_spending  count_spending
0              0.0               0
1              0.0               0
2              0.0               0
3              0.0               0
4              0.0               0
...            ...             ...
9995           0.0               0
9996           0.0               0
9997           0.0               0
9998           0.0               0
9999           0.0               0

[10000 rows x 29 columns]

,account,sum,mean,median,std,max,min,in_sum,out_sum,in_mean,...,count_days_in_bank,count_phone_changes,sum_spending,mean_spending,median_spending,std_spending,max_spending,min_spending,count_spending,is_sar
0,4455,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
1,7542,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
2,6651,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
3,9188,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
4,1744,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8826,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9996,2603,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9997,4166,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9998,2212,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9999,4559,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0

In [66]:
#Get the accounts with is_sar=1
sar_accounts=diff_score[diff_score['is_sar']==1]
sar_accounts_indices=diff_score[diff_score['is_sar']==1].index
len(sar_accounts_indices)

434

In [56]:
#print diff_cop for all accounts in sar_accounts
print(diff_score.iloc[17])
print(diff_score.iloc[0])

account                1583.000000
sum                       0.426951
mean                      0.109554
median                    0.395860
std                      -0.173280
max                      -0.084516
min                       0.087650
in_sum                    0.391938
out_sum                   0.154255
in_mean                  -0.216083
out_mean                  0.087570
in_median                -0.463882
out_median                0.064511
in_std                   -0.167056
out_std                  -0.076229
in_max                   -0.084516
out_max                  -0.018871
in_min                    0.020166
out_min                   0.087650
count_in                  0.687888
count_out                -0.118912
count_days_in_bank       -0.028901
count_phone_changes      -0.022365
sum_spending              1.240369
mean_spending            -2.339095
median_spending           0.056713
std_spending             -2.203533
max_spending             -0.687223
min_spending              0.292169
count_spending            4.468119
is_sar                    1.000000
Name: 17, dtype: float64
account                4.455000e+03
sum                    6.397460e-19
mean                   1.166579e-02
median                 1.314429e-02
std                   -1.108428e-01
max                   -8.451572e-02
min                    8.764971e-02
in_sum                -7.696043e-02
out_sum                1.542554e-01
in_mean               -9.063472e-02
out_mean               8.757045e-02
in_median             -6.464439e-02
out_median             6.451138e-02
in_std                -7.306714e-02
out_std               -7.622910e-02
in_max                -8.451572e-02
out_max               -1.887057e-02
in_min                 2.016583e-02
out_min                8.764971e-02
count_in              -5.129962e-02
count_out             -1.189120e-01
count_days_in_bank    -2.890148e-02
count_phone_changes   -2.236515e-02
sum_spending          -3.326346e-02
mean_spending          1.075660e-01
median_spending        1.390871e-02
std_spending           1.087721e-01
max_spending           5.443389e-02
min_spending           8.259372e-02
count_spending        -2.227492e-01
is_sar                 0.000000e+00
Name: 0, dtype: float64

In [63]:
diff_score

,account,sum,mean,median,std,max,min,in_sum,out_sum,in_mean,...,count_days_in_bank,count_phone_changes,sum_spending,mean_spending,median_spending,std_spending,max_spending,min_spending,count_spending,is_sar
0,4455,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
1,7542,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
2,6651,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
3,9188,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
4,1744,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8826,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9996,2603,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9997,4166,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9998,2212,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0
9999,4559,6.397460e-19,0.011666,0.013144,-0.110843,-0.084516,0.08765,-0.07696,0.154255,-0.090635,...,-0.028901,-0.022365,-0.033263,0.107566,0.013909,0.108772,0.054434,0.082594,-0.222749,0

In [58]:
def feature_importance(node): 
    #values should be the index = node in diff_score
    account=diff_score.loc[node]['account']
    print(account)
    values = diff_score[diff_score['account'] == account]
    values = values.abs()
    values = values.drop(['account', 'is_sar'], axis=1)
    # Transpose
    values = values.T
    
    # Change column name
    values.columns = ['Importance']
    
    # Set name for dataframe
    values.index.name = node
    
    # Sort by 'Importance' column
    values = values.sort_values(by='Importance', ascending=False)
    
    # Add other columns
    values['Original values'] = orgdata_train[orgdata_train['account'] == account].drop(['account', 'is_sar'], axis=1).T
    values['New values'] = newdata_train[newdata_train['account'] == account].drop(['account', 'is_sar'], axis=1).T
    values['Difference'] = values['New values']- values['Original values'] 
    values['Mean difference'] = diff_mean
    values['Std difference'] = diff_std
    
    return values

node= 79#93737#50228 #68840
res = feature_importance(node)
print(res)

# get is_sar for account
diff_score.iloc[node]['is_sar']
diff_cop.iloc[node]

7146.0
                     Importance Original values   New values   Difference  \
79
std_spending           6.177720      2305.28123  6641.243442  4335.962212
max_spending           5.282318        10173.18     21143.48      10970.3
count_spending         4.803181             153           78          -75
mean_spending          4.774172     1076.060523  2894.531923    1818.4714
min_spending           4.332653            5.77        21.36        15.59
out_median             3.830438        -696.585      -632.73       63.855
sum_spending           3.340752       164637.26    225773.49     61136.23
out_sum                1.712699        -11225.0    -10260.41       964.59
count_out              1.594518              16           15           -1
mean                   1.242280      -42.952188   -13.221935    29.730252
median                 1.035960          -5.155        26.41       31.565
sum                    0.848126        -1374.47      -409.88       964.59
out_mean               0.839739       -701.5625  -684.027333    17.535167
out_std                0.379272      381.305201   387.953343     6.648142
std                    0.219244      768.594812   762.366071    -6.228742
median_spending        0.121674          495.35       557.56        62.21
in_mean                0.090635      615.658125   615.658125          0.0
min                    0.087650        -1300.18     -1300.18          0.0
out_min                0.087650        -1300.18     -1300.18          0.0
in_max                 0.084516         1552.11      1552.11          0.0
max                    0.084516         1552.11      1552.11          0.0
in_sum                 0.076960         9850.53      9850.53          0.0
in_std                 0.073067      387.419782   387.419782          0.0
in_median              0.064644         592.495      592.495          0.0
count_in               0.051300              16           16            0
count_days_in_bank     0.028901             272          272            0
count_phone_changes    0.022365               0            0            0
in_min                 0.020166           26.41        26.41          0.0
out_max                0.018871          -36.72       -36.72          0.0

                     Mean difference  Std difference
79
std_spending           -7.502303e+01      689.726802
max_spending           -1.118950e+02     2055.613758
count_spending          3.324000e+00       14.922610
mean_spending          -4.006888e+01      372.504946
min_spending           -2.916340e-01        3.530946
out_median             -1.057619e+00       16.394309
sum_spending            6.148479e+02    18484.184892
out_sum                -7.969838e+01      516.664957
count_out               6.940000e-02        0.583625
mean                   -2.765885e-01       23.709357
median                 -3.954800e-01       30.087582
sum                    -7.275958e-16     1137.319769
out_mean               -1.655933e+00       18.909718
out_std                 1.672313e+00       21.937981
std                     2.091606e+00       18.870022
median_spending        -6.381794e+00      458.834250
in_mean                 1.186907e+00       13.095504
min                    -8.472337e+00       96.661319
out_min                -8.472337e+00       96.661319
in_max                  7.484672e+00       88.559521
max                     7.484672e+00       88.559521
in_sum                  7.969838e+01     1035.576048
in_std                  1.244156e+00       17.027569
in_median               8.104080e-01       12.536402
count_in                6.940000e-02        1.352837
count_days_in_bank      1.520000e-02        0.525925
count_phone_changes     5.000000e-04        0.022356
in_min                 -8.192200e-02        4.062417
out_max                 4.097300e-02        2.171265

sum                     -964.590000
mean                     -29.730252
median                   -31.565000
std                        6.228742
max                        0.000000
min                        0.000000
in_sum                     0.000000
out_sum                 -964.590000
in_mean                    0.000000
out_mean                 -17.535167
in_median                  0.000000
out_median               -63.855000
in_std                     0.000000
out_std                   -6.648142
in_max                     0.000000
out_max                    0.000000
in_min                     0.000000
out_min                    0.000000
count_in                   0.000000
count_out                  1.000000
count_days_in_bank         0.000000
count_phone_changes        0.000000
sum_spending          -61136.230000
mean_spending          -1818.471400
median_spending          -62.210000
std_spending           -4335.962212
max_spending          -10970.300000
min_spending             -15.590000
count_spending            75.000000
Name: 79, dtype: float64

In [18]:
feature_importance(sar_accounts_indices)

17      1583
51      7263
79      7146
95         9
109     4001
        ...
9962    8045
9963    8907
9970    2040
9973    9992
9988    9511
Name: account, Length: 434, dtype: int64

ValueError: Can only compare identically-labeled Series objects

In [44]:
def feature_importance_order(account):
    account_diff = diff_score[diff_score['account'] == account]
    account_diff = account_diff.drop(['account', 'is_sar'], axis=1)
    account_diff = account_diff.abs()
  
    account_diff = account_diff.mean(axis=0)
    account_diff = account_diff.sort_values(ascending=False)
    account_diff = pd.DataFrame(account_diff, columns=['Feature Importance'])  # Adding column title

    return account_diff

# Get the feature importance order for one account
account = 51
account_diff = feature_importance_order(account)
print(account_diff)

                     Feature Importance
count_spending             2.227492e-01
out_sum                    1.542554e-01
count_out                  1.189120e-01
std                        1.108428e-01
std_spending               1.087721e-01
mean_spending              1.075660e-01
in_mean                    9.063472e-02
out_min                    8.764971e-02
min                        8.764971e-02
out_mean                   8.757045e-02
in_max                     8.451572e-02
max                        8.451572e-02
min_spending               8.259372e-02
in_sum                     7.696043e-02
out_std                    7.622910e-02
in_std                     7.306714e-02
in_median                  6.464439e-02
out_median                 6.451138e-02
max_spending               5.443389e-02
count_in                   5.129962e-02
sum_spending               3.326346e-02
count_days_in_bank         2.890148e-02
count_phone_changes        2.236515e-02
in_min                     2.016583e-02
out_max                    1.887057e-02
median_spending            1.390871e-02
median                     1.314429e-02
mean                       1.166579e-02
sum                        6.397460e-19